flask
flask-bootstrap
flask-session
flask-sqlalchemy 
flask-login
flask-jwt-extended
cryptography
requests
mysql-connector-python
mysql
pyotp
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

